<html>
<head>
	<title>ATENEO DE NAGA UNIVERSITY STUDENT ORGANIZATIONS PORTAL - ADNUSOP</title>
</head>

<body>
	<div id="header">
	<img src="/images/adnu.png" alt="rss feed" />
	<h1>Ateneo de Naga University Student Organizations</h1>

	<ul>
	<li><a href="/home">HOME</a></li>
	<li><a href="/organizations">LIST OF ORGANIZATIONS</a></li>
	<li><a href="about">ABOUT THE DEVELOPER</a></li>
	</ul>
	</div>
	
	<div id="vinn">
	<div id="vin">
	<img src="/images/vin.jpg" alt="rss feed" id="about" />
	<h1 id="hmm">Arvin Alajor</h1>
	<p id="h">Bachelor of Science in Information Technology</p>
	</div>

	<div id="vin">
	<img src="/images/kyle.jpg" alt="rss feed" id="about" />
	<h1 id="hmm">Karl Mikael M. Peralta</h1>
	<p id="h">Bachelor of Science in Information Technology</p>
	</div>
	
	<div id="vin">
	<img src="/images/rombit.jpg" alt="rss feed" id="about" />
	<h1 id="hmm">Rombit Alanis</h1>
	<p id="h">Bachelor of Science in Information Systems</p>
	</div>
	</div>


	<div class="footer">
	Web Development Class of 2017</br>
	Developed by: Peralta, Alajor, Alanis</br>
	COPYRIGHT 2017
	</div>

</body>
</html>

<%= stylesheet_link_tag "main.css" %>
