<html>
<head>
	<title>ATENEO DE NAGA UNIVERSITY STUDENT ORGANIZATIONS PORTAL - ADNUSOP</title>
</head>

<body>
	<div id="header">
	<h1>Ateneo de Naga University Student Organizations</h1>
	</div>

	<ul>
	<li><a href="/home">HOME</a></li>
	<li><a href="/organizations">LIST OF ORGANIZATIONS</a></li>
	<li><a href="about">ABOUT THE DEVELOPER</a></li>
	</ul>
	
	<div id="one">
	<h1>ABOUT</h1>
	<p>Our portal provides the information needed by a member or an applicant of the organization from the President of that org. , with that, 		our site will bring a bulletin box and calendar of activities. The president of the org. Is the only one authorized to 	edit a post(memo) 		in a org., and the members can raise questions and concern for the benifit of the members and the organization. And this is what we offer.
	</p>
	</div>
	
	<div id="one">
	<h1>We are handy!</h1>
	<p>ADNU Organization website aims to organize student bodies to match their interests and promote self-growth.
		We offer easy access of organiztation/clubs details, a registration form, and an organized list of all 
		student organization within ADNU.</p>
	</div>

	<div id="one">
	<h1>What we offer:</h1>
	<ul id="list"><p><ol>-easy access of organization details</ol></p>
  	 	<p><ol id="list"> -easy checking of what an organization to offer.</ol></p>
   	 	<p><ol id="list">- web-based recruitment form</ol></p>
   	 	<p><ol id="list">-organize the lists of all students organization</ol></p>
   	 	<p><ol id="list">-calendar of activities</ol></p></ul>
	</div>

</body>
</html>

<%= stylesheet_link_tag "main.css" %>
