<html>
<head>
	<title>ATENEO DE NAGA UNIVERSITY STUDENT ORGANIZATIONS PORTAL - ADNUSOP</title>
</head>

<body>
	<div id="header">
	<img src="/images/adnu.png" alt="rss feed" />
	<h1>Ateneo de Naga University Student Organizations</h1>

	<ul>
	<li><a href="/home">HOME</a></li>
	<li><a href="/organizations">LIST OF ORGANIZATIONS</a></li>
	<li><a href="about">ABOUT THE DEVELOPER</a></li>
	</ul>
	</div>
	
	<div id="home">
		<div id="one">
		<h1 id="hmm">What is Ateneo De Naga University Student Organizations Portal(ADNUSOP)?</h1>
		<p id="h">Our portal provides the information needed by a member or an applicant of the organization from the president of that 			organization. With that, our site will bring a bulletin box and calendar of activities. The president of the org is the 			only one authorized to 	edit all the news, announcements and informations in a organization and the members can raise 				questions and concern for the benifit of the members and the organization. And this is what we offer.
		</p>
		</div>
	
		<div id="one">
		<h1 id="hmm">We are handy!</h1>
		<p id="h">ADNUSOP aims to organize student bodies to match their interests and promote self-growth.
			We offer easy access of organiztation/clubs details, a registration form, and an organized list of all 
			student organization within the university.</p>
		</div>

		<div id="one">
		<h1 id="hmm">What can ADNUSOP offer?</h1>
		<p id="h">After the development of this portal the student body will have easy access on organization details, easy checking of 			what an organization has to offer, web-based recruitment form, organized lists of all students organization, calendar of 				activities.</p>
		</div>
	</div>	
	
	<div class="footer">
	Web Development Class of 2017</br>
	Developed by: Peralta, Alajor, Alanis</br>
	COPYRIGHT 2017
	</div>
</body>
</html>

<%= stylesheet_link_tag "main.css" %>
