<html>
<head>
	<title>ATENEO DE NAGA UNIVERSITY STUDENT ORGANIZATIONS PORTAL - ADNUSOP</title>
</head>

<body>
	<div id="header">
	<h1>Ateneo de Naga University Student Organizations</h1>
	</div>

	<ul>
	<li><a href="/home">HOME</a></li>
	<li><a href="/organizations">LIST OF ORGANIZATIONS</a></li>
	<li><a href="about">ABOUT THE DEVELOPER</a></li>
	</ul>

	<div id="one">
	<h1>LOREM IPSUM</h1>
	<p>Lorem ipsum dolor sit amet, decore omnesque sensibus cum te, id modo intellegam mei, wisi suavitate te mea. 
		Cibo choro iriure sea cu. Te exerci dolores quo, id amet tota erat sit. At sumo quas neglegentur mea, 
		mollis nonumes gloriatur pri id, dicant senserit periculis duo cu. Usu habeo labitur rationibus et. 
		Vix accumsan nominati ad.

		At graeco fierent platonem pro, sea affert torquatos at, per integre abhorreant in. Cu qui dissentiunt 
		delicatissimi. Hinc altera bonorum ei vix. Mea eros mazim delectus et.</p>
	</div>
	
	<div id="one">
	<h1>LOREM IPSUM</h1>
	<p>Lorem ipsum dolor sit amet, decore omnesque sensibus cum te, id modo intellegam mei, wisi suavitate te mea. 
		Cibo choro iriure sea cu. Te exerci dolores quo, id amet tota erat sit. At sumo quas neglegentur mea, 
		mollis nonumes gloriatur pri id, dicant senserit periculis duo cu. Usu habeo labitur rationibus et. 
		Vix accumsan nominati ad.

		At graeco fierent platonem pro, sea affert torquatos at, per integre abhorreant in. Cu qui dissentiunt 
		delicatissimi. Hinc altera bonorum ei vix. Mea eros mazim delectus et.</p>
	</div>

	<div id="one">
	<h1>LOREM IPSUM</h1>
	<p>Lorem ipsum dolor sit amet, decore omnesque sensibus cum te, id modo intellegam mei, wisi suavitate te mea. 
		Cibo choro iriure sea cu. Te exerci dolores quo, id amet tota erat sit. At sumo quas neglegentur mea, 
		mollis nonumes gloriatur pri id, dicant senserit periculis duo cu. Usu habeo labitur rationibus et. 
		Vix accumsan nominati ad.

		At graeco fierent platonem pro, sea affert torquatos at, per integre abhorreant in. Cu qui dissentiunt 
		delicatissimi. Hinc altera bonorum ei vix. Mea eros mazim delectus et.</p>
	</div>

</body>
</html>

<%= stylesheet_link_tag "main.css" %>
